<div class="panel panel-default">
    <div class="panel-heading" ng-init="titleEditable">
        <h3 ng-show="!titleEditable" class="panel-title">{{ plan.title }} <a ng-click="titleEditable = true" class="glyphicon glyphicon-pencil"></a></h3>
        <input ng-show="titleEditable" ng-model="plan.title" type="text" />
    </div>
    <div class="panel-body">
        <p>Choose a trigger, then drag and drop one or more actions to create your plan.</p>
        <p><b>If...</b> choose trigger</p>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ plan.trigger.title }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="trigger in options.triggers" ng-click="selectTrigger(trigger)"><a>{{ trigger.title }}</a></li>
            </ul>
        </div>
        <p>&nbsp;<br /></p>
        <p><b>Then...</b> add one or more actions</p>
        <div id="actions" >
            <div>
                <ul class="actions">
                    <li class="action btn btn-info"
                        ng-repeat="item in options.actions"
                        dnd-draggable="item"
                        dnd-effect-allowed="copy"
                        dnd-copied="console.log('Item copied', event)"
                ><span class="glyphicon icon-{{ className(item.title) }}"></span><span class="sr-only">{{item.title}}</span></li>
                </ul>
                <ul class="actions well" dnd-list="plan.actions" dnd-horizontal-list="true">
                    <li class="action"
                        ng-repeat="item in plan.actions"
                        dnd-draggable="item"
                        dnd-effect-allowed="move"
                        dnd-moved="plan.actions.splice($index, 1); console.log('Item moved', event)"
                        dnd-copied="console.log('Item copied', event)"
                        >
                        <span class="btn btn-info action-selected"><span class="glyphicon icon-{{ className(item.title) }}"></span><span class="sr-only">{{item.title}}</span></span> then
                    </li>
                    <span ng-show="!plan.actions.length" class="glyphicon glyphicon-plus"></span>
                </ul>
                <!--li class="action" ng-show="!plan.actions.length">
                    <span class="btn action-placeholder"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">ACTION</span></span> then
                </li-->
                    <!--li class="actions">
                        <span class="btn action-placeholder"><span class="glyphicon glyphicon-plus"></span><span class="sr-only">ACTION</span></span> then
                    </li -->
                <ul dnd-list="[]">
                    <span class="glyphicon glyphicon-trash"></span>
                    drag here to delete
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="btn btn-primary" ng-click="done()">Done</div>