#main {
    padding: 24px 0;
}
.inactive {
    background-color: #f7f7f9;
}
.icon-left:before {
    content: "\e091";
}
.icon-right:before {
    content: "\e092";
}
.icon-forward:before {
    content: "\e093";
}
.icon-back:before {
    content: "\e094";
}
.icon-stop:before {
    content: "\e074";
}
.icon-speak:before {
    content: "\e111";
}
.icon-turn-left:before {
    content: "\e095";
}
.icon-turn-left {
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
}
.icon-turn-right:before {
    content: "\e095";
}
#actions .btn {
    margin: 6px;
}
ul.actions, li.action , li.dndPlaceholder {
    position: relative;
}
ul.actions {
    list-style: none;
}
li.action, li.dndPlaceholder {
  display: inline-block;
}
li.dndPlaceholder {
  min-height: 32px;
  min-width: 32px;
}
.action-placeholder, .dndPlaceholder {
    border: 2px dotted #666;
}
.dropdown-menu .btn {
    text-align: left;
}
.dropdown-menu li {
    border-bottom: 1px solid #E5E5E5;
}
.dropdown-menu li:last-of-type {
    border-width: 0;
}