<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="/static/style.css" rel="Stylesheet"/>
        <style type="text/css">
            body {
                text-align: center;
            }
            .main {
                max-width: 400px;
            }
             #dpad canvas {
                background: white url(/static/images/d-pad.gif) no-repeat center center;
                border-radius: 100%;
                border: 1px dashed #333;
             }
        </style>
        <script src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/socket.io-1.4.5.js"></script>
        <script type="text/javascript">
        var action = {
            direction: null,
            speed: 0
        };

        function handleKeys() {
            $(document).keydown(function(e) {
                action.speed = 100;
                switch (e.which) {
                    case 37: // left
                    case 65: // a
                        action.direction = 'left';
                        break;

                    case 38: // up
                    case 87: // w
                        action.direction = 'forward';
                        break;

                    case 39: // right
                    case 68: // d
                        action.direction = 'right';
                        break;

                    case 40: // down
                    case 83: // s
                        action.direction = 'reverse';
                        break;

                    default:
                        return true;
                }
                return false;
            });

            $(document).keyup(function(e) {
                if ([37, 65, 38, 87,39, 68, 40, 83].indexOf(e.which) != -1) {
                    action.speed = 0;
                    action.direction = null;
                    return false;
                }
            });
        }

        function handleMouse($dpad) {
            $dpad.mousedown(function(e) {
                var loc = {
                    x: e.pageX - $dpad.offset().left,
                    y: e.pageY - $dpad.offset().top
                }
                console.log(loc);
            });
        }

        function start() {
            var socket = io.connect('https://' + document.domain + ':' + location.port);
            var $dpad = $('canvas');

            handleKeys();
            handleMouse($dpad);

            socket.on('sense', function(data) {
                $('#sensor').html(data);
            });
            socket.on('refresh', function() {
                var src = $('#video').attr('src').split('?')[0]
                $('#video').attr('src', src+'?'+Math.random())
            });

            $('#delay').change(function() {
                socket.emit('delay', $('#delay').val());
            });
            $('#rule').change(function() {
                $.getJSON('api/rule/' + $('#rule').val() + '/ultrasonic/50');
            });
        }
/*
    canvas.style.backgroundImage = "url('/static/images/d-pad-left.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-fwd.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-right.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-back.gif')";
*/


        </script>
    </head>
    <body onload='start();'>
        {% block content %}
        {% endblock %}
    </body>
</html>
