<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link type="text/css" href="/static/style.css" rel="Stylesheet"/>
        <script src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/socket.io-1.4.5.js"></script>
        <script type="text/javascript">
        var socket, peerConnection, dataChannel;
        var action = {
            direction: null,
            speed: 0
        };
        var last = 0;

        function setAction(direction, speed)
        {
            if (direction != action.direction || speed != action.speed)
            {
                if (direction != action.direction || Date.now() - last > 250) {   // throttle speed change events
                    action.direction = direction;
                    action.speed = speed;
                    socket.emit('action', direction, speed);
                    last = Date.now();
                }
            }
        }

        function handleKeys() {
            $(document).keydown(function(e) {
                switch (e.which) {
                    case 37: // left
                    case 65: // a
                        setAction('left', 50);
                        break;

                    case 38: // up
                    case 87: // w
                        setAction('forward', 50);
                        break;

                    case 39: // right
                    case 68: // d
                        setAction('right', 50);
                        break;

                    case 40: // down
                    case 83: // s
                        setAction('reverse', 50);
                        break;

                    default:
                        return true;
                }
                return false;
            });

            $(document).keyup(function(e) {
                if ([37, 65, 38, 87,39, 68, 40, 83].indexOf(e.which) != -1) {
                    setAction(null, 0);
                    return false;
                }
            });
        }

        function setLoc(loc) {
            var left = loc.x < 0;
            var forward = loc.y < 0;
            loc.x = Math.abs(loc.x);
            loc.y = Math.abs(loc.y);
            var rotate = loc.x > loc.y;
            setAction(rotate ? (left ? 'left' : 'right') : (forward ? 'forward' : 'reverse'), rotate ? loc.x : loc.y);
        }

        function handleMouse($dpad) {
            function mousemove(e) {
                var loc = {
                    x: e.pageX - $dpad.offset().left - $dpad.width()/2,
                    y: e.pageY - $dpad.offset().top - $dpad.height()/2
                }
                setLoc(loc);
            }
            $dpad.mousedown(function(e) {
                mousemove(e);
                $dpad.on('mousemove', mousemove);
            });
            $dpad.mouseup(function(e) {
                $dpad.off('mousemove', mousemove);
                setAction(null, 0);
            });
        }

        function handleTouch($dpad) {
            var touchId = null;
            function touchmove(e) {
                var touches = e.originalEvent.changedTouches;
                for (var i=0; i<touches.length; i++) {
                    if (touches[i].identifier == touchId) {
                        var touch = touches[i];
                        var loc = {
                            x: touch.pageX - $dpad.offset().left - $dpad.width()/2,
                            y: touch.pageY - $dpad.offset().top - $dpad.height()/2
                        }
                        console.log(loc);
                        setLoc(loc);
                    }
                }
                return false;
            }
            $dpad.on('touchstart', function(e) {
                var touches = e.originalEvent.changedTouches;
                var touch = touches[0];
                touchId = touch.identifier;

                var loc = {
                    x: touch.pageX - $dpad.offset().left - $dpad.width()/2,
                    y: touch.pageY - $dpad.offset().top - $dpad.height()/2
                }
                console.log(loc);
                setLoc(loc);
                $dpad.on('touchmove', touchmove);
                return false;
            });
            $dpad.on('touchend', function(e) {
                $dpad.off('touchmove', touchmove);
                touchId = null;
                setAction(null, 0);
                return false;
            });
            $dpad.on('touchcancel', function(e) {
                $dpad.off('touchmove', touchmove);
                touchId = null;
                setAction(null, 0);
                return false;
            });
        }

        function start() {
            //socket = io.connect('http://' + document.domain, {transports: ['websocket']});
            socket = io.connect('wss://legorover.space', {transports: ['websocket']});
            socket.on('connect', function() {
                socket.emit('delay', $('#delay').val());
            });
            var $dpad = $('canvas');

            handleKeys();
            handleMouse($dpad);
            handleTouch($dpad);
            $('#look-left').click(function() {
                socket.emit('camera', 'left');
            });
            $('#look-right').click(function() {
                socket.emit('camera', 'right');
            });

            socket.on('sense', function(data) {
                var height = data/100*300;
                console.log(height);
                $('#sensor div').height(height);
            });

            var requested = Date.now();
            var video = document.getElementById("video");
            $(video).on('load', function() {
                console.log('loaded ' + (requested - Date.now()));
                requested = null;
            });
            /*setInterval(function() {
                if (requested == null || Date.now() > requested + 5000) {
                    requested = Date.now();
                    // video.src = videoSrc + '#' + requested;
                    $.ajax({
                        //url: 'https://legorover.space/static/images/camera.data',
                        url: '/static/images/camera.data',
                        headers: {'Max-Age':0},
                        success: function(data){
                            video.src = data;
                        },
                        error: function(){},
                        complete: function(){}
                    });
                    console.log('requested');
                } else {
                    console.log('skipped ' + (requested == null ? 'null' : Date.now() - requested));
                }
            }, 250);*/

            $('#delay').change(function() {
                socket.emit('delay', $('#delay').val());
            });
            $('#rule').change(function() {
                socket.emit('rule', $('#rule').val());
            });

            var buf, byteLength, count, canvas;

            function renderPhoto(buffers) {
                var blob = new Blob(buffers, {type: 'image/jpeg'});
                var url = URL.createObjectURL(blob);
                video.src = url;
            }

            var config = {"iceServers": []};
            peerConnection = new webkitRTCPeerConnection(config);
            peerConnection.onicecandidate = function(e) {
                if (!peerConnection || !e || !e.candidate) return;
                socket.emit('offer ice', e.candidate);
                console.log('offer ice');
                console.log(e.candidate);
            }

            dataChannel = peerConnection.createDataChannel('camera', {});
            dataChannel.onmessage = function(e) {
               if (typeof event.data === 'string') {
                   byteLength = parseInt(event.data);
                   buf = [];
                   count = 0;
                   console.log('Expecting a total of ' + byteLength + ' bytes');
                   return;
               }
               var data = new Uint8ClampedArray(event.data);
               buf.push(data);
               count += data.byteLength;
               if (count === byteLength) {
                   // we're done: all data chunks have been received
                   renderPhoto(buf);
               }
            };
            dataChannel.onopen = function(){
                console.log("------ DATACHANNEL OPENED ------");
                dataChannel.send('hello!');
            }
            dataChannel.onclose = function(){
              console.log("------- DC closed! -------");
            };
            dataChannel.onerror = function(){console.log("DC ERROR!!!");};

            socket.on('connect', function() {
              var sdpConstraints = {'mandatory': {'OfferToReceiveAudio': false, 'OfferToReceiveVideo': false}};
              peerConnection.createOffer(function (sdp) {
                peerConnection.setLocalDescription(sdp);
                socket.emit('offer', sdp);
                console.log("------ SEND OFFER ------");
              }, function (err) {
                console.log('offer error ' + err);
              }, sdpConstraints);
            });

            socket.on('answer ice', function (iceCandidate) {
              console.log('answer ice');
              console.log(iceCandidate);
              peerConnection.addIceCandidate(new RTCIceCandidate(iceCandidate));
            });
            socket.on('answer', function processAnswer(answer) {
              peerConnection.setRemoteDescription(new RTCSessionDescription(answer));
              console.log("------ PROCESSED ANSWER ------");
            });

        }
/*
    canvas.style.backgroundImage = "url('/static/images/d-pad-left.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-fwd.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-right.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-back.gif')";
*/


        </script>
    </head>
    <body onload='start();'>
        {% block content %}
        {% endblock %}
    </body>
</html>
