<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="/static/style.css" rel="Stylesheet"/>
        <script src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/socket.io-1.4.5.js"></script>
        <script type="text/javascript">
        var socket;
        var action = {
            direction: null,
            speed: 0
        };

        function setAction(direction, speed)
        {
            if (direction != action.direction || speed != action.speed)
            {
                action.direction = direction;
                action.speed = speed;
                socket.emit('action', direction, speed);
            }
        }

        function handleKeys() {
            $(document).keydown(function(e) {
                switch (e.which) {
                    case 37: // left
                    case 65: // a
                        setAction('left', 100);
                        break;

                    case 38: // up
                    case 87: // w
                        setAction('forward', 100);
                        break;

                    case 39: // right
                    case 68: // d
                        setAction('right', 100);
                        break;

                    case 40: // down
                    case 83: // s
                        setAction('reverse', 100);
                        break;

                    default:
                        return true;
                }
                return false;
            });

            $(document).keyup(function(e) {
                if ([37, 65, 38, 87,39, 68, 40, 83].indexOf(e.which) != -1) {
                    setAction(null, 0);
                    return false;
                }
            });
        }

        function setLoc(loc) {
            var left = loc.x < 0;
            var forward = loc.y < 0;
            loc.x = Math.abs(loc.x);
            loc.y = Math.abs(loc.y);
            var rotate = loc.x > loc.y;
            setAction(rotate ? (left ? 'left' : 'right') : (forward ? 'forward' : 'reverse'), rotate ? loc.x : loc.y);
        }

        function handleMouse($dpad) {
            $dpad.mousedown(function(e) {
                var loc = {
                    x: e.pageX - $dpad.offset().left - $dpad.width()/2,
                    y: e.pageY - $dpad.offset().top - $dpad.height()/2
                }
                console.log(loc);
                setLoc(loc);
            });
            // mousemove
            $dpad.mouseup(function(e) {
                setAction(null, 0);
            });
        }

        function handleTouch($dpad) {
            var touchId = null;
            $dpad.touchstart(function(e) {
                var touches = e.changedTouches;
                var touch = touches[0];
                touchId = touch.identifier;

                var loc = {
                    x: touch.pageX - $dpad.offset().left - $dpad.width()/2,
                    y: touch.pageY - $dpad.offset().top - $dpad.height()/2
                }
                console.log(loc);
                setLoc(loc);
            });
            // touchmove
            $dpad.touchend(function(e) {
                var touches = e.changedTouches;
                for (var i=0; i<touches.length; i++) {
                    if (touches[i].identifier == touchId) {
                        touchId = null;
                        setAction(null, 0);
                    }
                }
            });
        }

        function start() {
            socket = io.connect('http://' + document.domain, {transports: ['websocket']});
            var $dpad = $('canvas');

            handleKeys();
            handleMouse($dpad);
            handleTouch($dpad);

            socket.on('sense', function(data) {
                $('#sensor').html(data);
            });
            socket.on('refresh', function() {
                var src = $('#video').attr('src').split('?')[0]
                $('#video').attr('src', src+'?'+Math.random())
            });

            $('#delay').change(function() {
                socket.emit('delay', $('#delay').val());
            });
            $('#rule').change(function() {
                socket.emit('rule', $('#rule').val());
            });
        }
/*
    canvas.style.backgroundImage = "url('/static/images/d-pad-left.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-fwd.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-right.gif')";
    canvas.style.backgroundImage = "url('/static/images/d-pad-back.gif')";
*/


        </script>
    </head>
    <body onload='start();'>
        {% block content %}
        {% endblock %}
    </body>
</html>
