<!DOCTYPE html>
<html>
  <head>
    <title>WebRover1 Camera</title>
  </head>
  <body>
    <video id="video" width="400" height="300" autoplay></video>
    <canvas id="canvas" width="400" height="300">
    <!--div id="camera" style="width: 400px; height: 300px; max-height: 100%;">
      <div class="placeholder">
        Your browser does not support camera access.
      </div>
    </div><br-->

    <script src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="/static/canvas-to-blob.min.js"></script>
    <script>
      var socket, peerConnection, dataChannel;
      window.addEventListener("DOMContentLoaded", function() {
        // Grab elements, create settings, etc.
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d"),
            video = document.getElementById("video"),
            videoObj = { "video": true },
            errBack = function(error) {
                console.log("Video capture error: ", error.code); 
            };

        if(navigator.getUserMedia) { // Standard
            navigator.getUserMedia(videoObj, function(stream) {
                video.src = stream;
            }, errBack);
        } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia(videoObj, function(stream){
                video.src = window.URL.createObjectURL(stream);
            }, errBack);
        } else if(navigator.mozGetUserMedia) { // moz-prefixed
            navigator.mozGetUserMedia(videoObj, function(stream){
                video.src = window.URL.createObjectURL(stream);
            }, errBack);
        }
        video.play();

        function capture(done) {
            context.drawImage(video, 0, 0, 400, 300);
            //canvas.toBlob(done, "image/jpeg", 0.85);
            done(canvas.toDataURL("image/jpeg", 0.85));
        };

        function upload(data, done) {
            $.ajax({
              type: "POST",
              url: "/upload/",
              data: data,
              contentType: "image/jpeg",
              processData: false
            }).done(done);
        };

        var snapshots = [];
        var delay = 0;
        var uploading = null;
        function uploaded(response) {
          delay = parseInt(response)
          uploading = null;
        };
        /*setInterval(function() {
          var timestamp = Date.now();
          function process(snapshot) {
            var length = snapshots.push({ts: timestamp, img: snapshot});

            var index = -1;
            for (var i = 0; i < length; i++) {
              if (snapshots[i].ts > timestamp - delay) {
                break;
              }
              index = i;
            }
            if (index >= 0)
            {
              // avoid flooding the server
              if (uploading == null || Date.now() > uploading + 5000) {
                uploading = Date.now();
                upload(snapshots[index].img, uploaded);
              }
              snapshots.splice(0, index + 1);
            }
          };
          capture(process);
        }, 500); */

        socket = io.connect('wss://legorover.space', {transports: ['websocket']});

        function newRTCPeerConnection() {
          var config = {"iceServers": []};
          peerConnection = new webkitRTCPeerConnection(config);
          peerConnection.onicecandidate = function(e) {
              if (!peerConnection || !e || !e.candidate) return;
              socket.emit('answer ice', e.candidate);
              console.log('answer ice');
          }

          peerConnection.ondatachannel = function (e) {
              var sendImageId;
              console.log('peerConnection.ondatachannel event fired.');
              dataChannel = e.channel;
              dataChannel.onmessage = function(e){
                console.log("DC message:" +e.data);
              }
              dataChannel.onopen = function(){
                console.log("------ DATACHANNEL OPENED ------")

                sendImageId = setInterval(function() {

                  context.drawImage(video, 0, 0, 400, 300);

                  // Split data channel message in chunks
                  var CHUNK_LEN = 64000;
                  // Get the image bytes and calculate the number of chunks
                  canvas.toBlob(function(blob) {
                    var reader = new FileReader();
                    reader.addEventListener("loadend", function() {
                      var data = new Uint8ClampedArray(reader.result);
                      var len = data.length;
                      var n = len / CHUNK_LEN | 0;
                      // Let the other peer know in advance how many bytes to expect in total
                      dataChannel.send(len);
                      // Split the photo in chunks and send it over the data channel
                      for (var i = 0; i < n; i++) {
                         var start = i * CHUNK_LEN;
                         var end = (i+1) * CHUNK_LEN;
                         dataChannel.send(data.subarray(start, end));
                      }
                      // Send the reminder, if any
                      if (len % CHUNK_LEN) {
                         dataChannel.send(data.subarray(n * CHUNK_LEN));
                      }
                    });
                    reader.readAsArrayBuffer(blob);
                  }, "image/jpeg", 0.85);

                }, 500);
              };
              dataChannel.onclose = function() {
                console.log("------ DC closed! ------")
                clearInterval(sendImageId);
                dataChannel = null;
                newRTCPeerConnection();
              };
              dataChannel.onerror = function(){console.log("DC ERROR!!!")};
          };
        };
        newRTCPeerConnection();

        socket.on('offer', function(offer) {
            console.log('received offer');
            console.log(offer);
            peerConnection.setRemoteDescription(new RTCSessionDescription(offer));
            var sdpConstraints = {'mandatory': {'OfferToReceiveAudio': false, 'OfferToReceiveVideo': false}};
            peerConnection.createAnswer(function (sdp) {
              peerConnection.setLocalDescription(sdp);
              socket.emit('answer', sdp);
              console.log("------ SEND ANSWER ------");
            }, function (err) {
              console.log("-create answer error " + err);
            }, sdpConstraints);
        });
        socket.on('offer ice', function processIce(iceCandidate) {
            console.log('offer ice');
            console.log(iceCandidate);
            peerConnection.addIceCandidate(new RTCIceCandidate(iceCandidate));
        });

      }, false);
    </script>
  </body>
</html>