<!DOCTYPE html>
<html>
  <head>
    <title>WebRover1 Camera</title>
  </head>
  <body>
    <video id="video" width="400" height="300" autoplay></video>
    <canvas id="canvas" width="400" height="300">
    <!--div id="camera" style="width: 400px; height: 300px; max-height: 100%;">
      <div class="placeholder">
        Your browser does not support camera access.
      </div>
    </div><br-->

    <script src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/canvas-to-blob.min.js"></script>
    <script>
      window.addEventListener("DOMContentLoaded", function() {
        // Grab elements, create settings, etc.
        var canvas = document.getElementById("canvas"),
            context = canvas.getContext("2d"),
            video = document.getElementById("video"),
            videoObj = { "video": true },
            image_format= "jpeg",
            jpeg_quality= 85,
            errBack = function(error) {
                console.log("Video capture error: ", error.code); 
            };

        if(navigator.getUserMedia) { // Standard
            navigator.getUserMedia(videoObj, function(stream) {
                video.src = stream;
            }, errBack);
        } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia(videoObj, function(stream){
                video.src = window.URL.createObjectURL(stream);
            }, errBack);
        } else if(navigator.mozGetUserMedia) { // moz-prefixed
            navigator.mozGetUserMedia(videoObj, function(stream){
                video.src = window.URL.createObjectURL(stream);
            }, errBack);
        }
        video.play();

        function capture(done) {
            context.drawImage(video, 0, 0, 400, 300);
            //canvas.toBlob(done, "image/jpeg", 0.85);
            done(canvas.toDataURL("image/jpeg", 0.85));
        };

        function upload(data, done) {
            $.ajax({
              type: "POST",
              url: "/upload/",
              data: data,
              contentType: "image/jpeg",
              processData: false
            }).done(done);
        };

        var snapshots = [];
        var delay = 0;
        var uploading = null;
        function uploaded(response) {
          delay = parseInt(response)
          uploading = null;
        };
        setInterval(function() {
          var timestamp = Date.now();
          function process(snapshot) {
            var length = snapshots.push({ts: timestamp, img: snapshot});

            var index = -1;
            for (var i = 0; i < length; i++) {
              if (snapshots[i].ts > timestamp - delay) {
                break;
              }
              index = i;
            }
            if (index >= 0)
            {
              // avoid flooding the server
              if (uploading == null || Date.now() > uploading + 5000) {
                uploading = Date.now();
                upload(snapshots[index].img, uploaded);
              }
              snapshots.splice(0, index + 1);
            }
          };
          capture(process);
        }, 500);

      }, false);
    </script>
  </body>
</html>