<!DOCTYPE html>
<html>
  <head>
    <title>WebRover1 Camera</title>
  </head>
  <body>
    <div id="camera" style="width: 400px; height: 300px">
      <div class="placeholder">
        Your browser does not support camera access.
      </div>
    </div><br>

    <script type="text/javascript" src="/static/canvas-to-blob.min.js"></script>
    <script type="text/javascript" src="/static/jpeg_camera_no_flash.min.js"></script>
    <script>
      var camera = new JpegCamera("#camera", {shutter: false, scale: 0.5});
      var snapshots = [];
      var delay = 1300;
      var uploaded = 0;

      camera.ready(function() {
        setInterval(function() {
          var timestamp = Date.now();
          var snapshot = camera.capture();
          var length = snapshots.push({ts: timestamp, img: snapshot});

          var index = -1;
          for (var i = 0; i < length; i++) {
            if (snapshots[i].ts > timestamp - delay) {
              break;
            }
            index = i;
          }
          if (index >= 0)
          {
            // avoid flooding the server
            if (Date.now() > uploaded + 1000) {
              snapshots[index].img.show(); // Display the snapshot
              snapshots[index].img.upload({api_url: "/upload/"}).done(function(response) {
                response_container.innerHTML = response;
                delay = parseInt(response)
              }).fail(function(status_code, error_message, response) {
                // ignore failures
              });
              uploaded = Date.now();
            }
            snapshots.splice(0, index + 1);
          }
        }, 200);
      });
    </script>
  </body>
</html>