{% extends 'base.html' %}
{% block content %}


<div class="content"  style="position: relative">
        <h1>WebRover1</h1>
    <div class="main">
        <h3><small>Drive me</small></h3>
     <div id="dpad">
        <canvas height="300px" style='height:300px;'>
        </canvas>
        <div class="wash"></div>
    </div>
    <div id="settings">
        <form>
            <p>
                <label>Time delay</label>
                <select id="delay">
                    <option value="0">None</option>
                    <option value="500">UK>Australia: 0.5 sec</option>
                    <option value="1300">Earth>Moon: 1.3 sec</option>
                    <option value="36000">Earth>Mars: 3 min</option>
                </select>
            </p>
        </form>
        
        <form>
            <p>
                <label>Obstacle Rule</label>
                <select id="rule">
                    <option value="0">Off</option>
                    <option value="1">On</option>
                </select>
            <a href="../../rulebuilder/" class="btn btn-primary">Change Rule</a>
        </p>
        </form>
    </div>
    <p></p>
    <h3><small>What I can see</small></h3>
    <div id="sensor"></div>

    <a href="/static/rule-builder/index.html">Rule Builder</a>
    <img id="video" src="/static/images/camera.jpg" style="width: 400px; height: 300px; max-width: 100%">
    <div id="log"></div></div>

{% endblock %}
